{% extends 'base/base.html' %}
{% load static %}


{% block body %}
    <div class="hero-section">
        <div class="container-fluid px-0">
            <div id="owl-carousel-one" class="owl-carousel hero-carousel">
                <div class="item banner-item">
                    <img class="img-fluid w-100 banner-image"
                         src="{% static 'apps/slider2.png' %}"
                         alt="Banner 1">
                </div>
                <div class="item banner-item">
                    <img class="img-fluid w-100 banner-image"
                         src="{% static 'apps/slider1.png' %}"
                         alt="Banner 2">
                </div>
            </div>
        </div>
    </div>


    <section class="categories-section py-4">
        <div class="container">
            <div class="row g-3">

                {% for c in cate %}
                    <div class="col-4 col-md-4 col-lg-3">
                        <a href="{% url 'category' c.id %}" class=" category-card">
                            <div class="category-image-wrapper">
                                <img class="category-image"
                                     src="{{ c.image.url }}"
                                     alt="{{ c.title }}">
                            </div>
                            <h6 class="category-title">{{ c.title }}</h6>
                        </a>
                    </div>

                {% endfor %}


            </div>
        </div>
    </section>
    <section class="products-section py-5 bg-light">
        <div class="container">
            <div class="section-header mb-4">
                <h2 class="section-title">Eng ko'p sotiladigan</h2>
                <a href="{% url 'shop' %}" class="view-all-link">
                    Barchasini ko'rish
                    <img width="26" height="26" src="https://img.icons8.com/color/48/connection-status-off--v1.png" alt="connection-status-off--v1"/>
                </a>
            </div>

            <div class="row g-4">
                {% for pro in pro_data %}
                    <div class="owl-item" style="width: 346px;">
                        <div class="item">
                            <div class="product-card">
                                <a href="{% url 'detail' pro.id %}"
                                   class="product-image-link">
                                    <div class="product-image-wrapper">
                                        <img class="product-image" src="{{ pro.image.url }}"
                                             alt="{{ pro.title }}"
                                             loading="lazy">
                                    </div>
                                </a>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="">
                                            {{ pro.title }}
                                        </a>
                                    </h6>
                                    <p class="product-price">{{ pro.price }} so'm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <section class="products-section py-5">
        <div class="container">
            <div class="section-header mb-4">
                <h2 class="section-title">Yangi mahsulotlar</h2>
                <a href="{% url 'shop' %}" class="view-all-link">
                    Barchasini ko'rish
                    <img width="26" height="26" src="https://img.icons8.com/color/48/connection-status-off--v1.png" alt="connection-status-off--v1"/>
                </a>
            </div>

            <div class="owl-carousel owl-carousel-category owl-theme">

                {% for i in pro_data %}
                    <div class="item">
                        <div class="product-card">
                            <a href="{% url 'detail' i.pk %}"
                               class="product-image-link">
                                <div class="product-image-wrapper">
                                    <img class="product-image"
                                         src="{{ i.image.url }}"
                                         alt="2 talik moshina ventilyator"
                                         loading="lazy">
                                </div>
                            </a>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="{% url 'detail' i.pk %}">
                                        {{ i.title }}
                                    </a>
                                </h6>
                                <p class="product-price">{{ i.price }} so'm</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>




{% endblock %}



